ul {
  list-style: square;
  background-color: aqua;
}
ul li {
  background-color: rgb(185, 235, 255);
  margin: 20px;
}

ol {
  list-style: square;
  background-color: rgb(6, 2, 245);
}

ol li {
  background-color: rgb(65, 62, 236);
  margin: 4px;
}
td,
th,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}
table {
  width: 70%;
}
th {
  background-color: blue;
}
th:hover {
  background-color: aqua;
}
