.a1 {
  border: 2px solid red;
  position: relative;
  top: 50px;
  left: 60px;
}
.a2 {
  border: 3px solid blue;
}
.parent {
  position: relative;
  height: 300px;
  width: 200px;
  border: 3px solid black;
}
.child {
  position: absolute;
  border: 2px solid red;
  top: 10px;
  right: 100px;
}
.SASISKA li {
  background-color: rgb(0, 4, 7);
  padding: 6px;
  display: inline;
  margin-right: 6px;
  color: brown;
}
.SASISKA {

    position: fixed;
    left: 700px;
    top: 40px;
}