.box {
  background-color: rgb(103, 187, 243);
  height: 130px;
  width: 300px;
  margin: 20px;
}
.li {
  background-color: rgb(103, 187, 243);
  height: 45px;
  width: 30px;
}
img {
  width: 500px;
  height: 400px;
}
.t1 {
  display: block;
}
.t2 {
  display:inline ;
}
